<br/>
<div class="row">
    <div class="col-sm-12">
        <input type="text" id="deviceId" placeholder="Device ID" />
        <input type="text" id="bearer" placeholder="Bearer"/>
        <button class="btn" id="connect">Connect</button>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="state"></div><br/>
        <input type="text" id="queueItems" placeholder="Queue"/>
        <button class="btn" id="queue">Queue</button>
        <button class="btn" id="play">Play</button>
        <button class="btn" id="pause">Pause</button>
        <button class="btn" id="next">Next</button>
    </div>
</div>