<br/>
<div class="row">
    <div class="col-sm-12">
        <input type="text" id="deviceId" placeholder="Device ID"/>
        <input type="text" id="bearer" placeholder="Bearer"/>
        <button class="btn" id="connect">Connect</button>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-12">
        <input type="text" id="queueItems" placeholder="Queue"/>
        <button class="btn" id="queue">Queue</button>
        <button class="btn" id="play">Play</button>
        <button class="btn" id="pause">Pause</button>
        <button class="btn" id="next">Next</button>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12">
        <input type="text" id="voteOptions" placeholder="Vote options"/>
        <button class="btn" id="submitVoteOptions">Submit vote</button>
    </div>
</div>
<br/>
<div class="row">
    <div class="col-sm-12">
        <input type="text" id="vote" placeholder="Track" />
        <button class="btn" id="submitVote">Vote</button>
    </div>
</div>